<div class="footer" style="margin: 0 auto;text-align: center;background-color: #666;font-size: 12px;padding: 30px 0;width: 100%;clear:both;position:absolute;bottom:0;wi">
  <p class="footer-links">
    <a href="#">关于UC</a>
    <span class="line">|</span>
    <a href="#">UC社区</a>
    <span class="line">|</span>
    <a href="#">UC浏览器</a>
    <span class="line">|</span>
    <a href="#">意见反馈</a>
  </p>
  <p>
    <span class="copyright">湖南康森韦尔电子科技有限公司技术支持</span>
    <span class="line">|</span>
    <span class="copyright">业务经营许可证: <a href="http://www.miitbeian.gov.cn">湘B2-20070379</a><a href="http://www.miitbeian.gov.cn">湘ICP备*****号</a></span>
  </p>
</div>

<style>
        .footer{
        clear: both;
        padding: 30px 0;
        border-top: 1px solid #ddd;
        font-size: 12px;
        text-align: center;
        background-color: #666;
        width: 100%;
        min-width:400px;
        position:absolute;
        bottom:0;
        z-index: 12;
    }
    .footer p{
        line-height: 24px;
    }
    .footer .line {
        margin: 0 5px;
        font-size: 10px;
        vertical-align: middle;
        color: #9d9d9d;
    }
    .footer a {
        color: #c5c5c5;
    }
    a{
         color: #6b6b6b;
         text-decoration: none;
    }
    .footer .copyright {
    color: #999;
}
</style>