<div class="header">
    <p>
        asdsa
    </p>
</div>

<style>
    .header{
        clear: both;
        font-size: 12px;
        text-align: center;
        background-color: #666;
        width: 100%;
        min-width:400px;
    }
</style>