<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <%- include("./header.ejs") %>
        <div class="container content">
                <a href="https://pan.lanzou.com/i0lnj0d">综合监控管理系统使用说明书</a>
        </div>
        <%- include("./footer.ejs") %>
</body>

</html>