<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%- title %>
    </title>
    <style>
        #table thead {
            background-color: rgba(60, 48, 48, 0.5)
        }
        
        #table .popover-content {
            padding: 9px 0px !important
        }
    </style>
</head>

<body>
    <%- include("../header.ejs") %>
        <%- include("../static/moment.ejs") %>
            <%- include("../static/bootstrap-table.ejs") %>
                <%- include("../static/bootstrap-validator.ejs") %>
                    <%- include("../static/bootstrap-editable.ejs")%>
                        <%- include("../static/bootstrap-datetimepicker.ejs")%>
                            <div class="container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">过滤条件</div>
                                    <div class="panel-body">
                                        <form class="form-inline" id="orderform">
                                            <div class="form-group">
                                                <label>时间段：</label>
                                                <div class="input-group date " id="starttime">
                                                    <input class="form-control" size="16" name="starttime" type="text" value="" readonly>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                </div>
                                                <label>~</label>
                                                <div class="input-group date endtime" id="endtime">
                                                    <input class="form-control" size="16" name="endtime" type="text" value="" readonly>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">&nbsp;&nbsp; 产品类型：</label>
                                                <select class="form-control" id="Position" name="Position" placeholder="Position"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">&nbsp;&nbsp; 产品状态：</label>
                                                <select class="form-control" id="status" name="status" placeholder="status"></select>
                                            </div>
                                            <button type="button" class="btn btn-default" id="search">查询</button>
                                        </form>
                                    </div>
                                </div>

                                <div id="toolbar">
                                    <select class="form-control">
                                            <option value="basic">导出当前页</option>
                                            <option value="all">导出所有</option>
                                            <!-- <option value="selected">导出选中</option> //服务器分页暂不处理-->
                                </select>
                                </div>
                                <table id="table"></table>
                            </div>

                            <%- include("../footer.ejs") %>
                                <script src="/home/orderinfo.js"></script>
</body>

</html>