<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/moment.min.js"></script>
    <title>
        <%- title %>
    </title>
</head>

<body>
    <%- include("../header.ejs") %>
        <div class="container">
            <div id="toolbar" class="btn-group">
                <div class="form-inline .col-xs-12">
                    <input type="text" class="form-control" id="wd" aria-label="请输入产品编号" placeholder="产品编号">
                    <button type="button" class="btn btn-default" id="search">查询</button>
                </div>
            </div>
            <table id="table"></table>
        </div>
        <%- include("../footer.ejs") %>
            <%- include("../static/bootstrap-table.ejs") %>
                <script>
                    $(function() {
                        var ID = $.getUrlParam('pid');
                        var oTable = new TableInit()
                        oTable.Init()
                        if (ID) {
                            $("#wd").val(ID)
                            $("#search").click()
                        }
                        $("#wd").keydown(function(event) {
                            if (event.keyCode == 13) {
                                $("#search").click()
                            }
                        })
                    })

                    $("#search").click(function() {
                        var val = $("#wd").val()
                        if (val == "") return
                        $.get('/order/pid_data?pid=' + val, function(data) {
                            $('#table').bootstrapTable('load', data);
                        });
                    })

                    var TableInit = function() {
                        var oTableInit = new Object()
                            //初始化Table
                        oTableInit.Init = function() {
                                $('#table').bootstrapTable({
                                    url: '/order/pid_data', //请求后台的URL（*）
                                    method: 'get', //请求方式（*）
                                    toolbar: '#toolbar', //工具按钮用哪个容器
                                    // singleSelect: true, //单选
                                    striped: true, //是否显示行间隔色
                                    cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                                    pagination: true, //是否显示分页（*）
                                    sortable: true, //是否启用排序
                                    sortName: 'pid',
                                    sortOrder: 'asc', //排序方式
                                    queryParams: oTableInit.queryParams, //传递参数（*）
                                    sidePagination: 'server', //分页方式：client客户端分页，server服务端分页（*）
                                    pageNumber: 1, //初始化加载第一页，默认第一页
                                    pageSize: 10, //每页的记录行数（*）
                                    pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                                    search: true, //是否显示表格搜索
                                    strictSearch: true,
                                    showColumns: true, //是否显示所有的列
                                    showRefresh: true, //是否显示刷新按钮
                                    minimumCountColumns: 2, //最少允许的列数
                                    clickToSelect: true, //是否启用点击选中行
                                    // height: 800, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                                    uniqueId: 'ID', //每一行的唯一标识，一般为主键列
                                    showToggle: true, //是否显示详细视图和列表视图的切换按钮
                                    cardView: false, //是否显示详细视图
                                    detailView: false, //是否显示父子表
                                    // showExport: true, //是否显示导出
                                    // exportDataType: 'basic', //basic', 'all', 'selected'.
                                    columns: [{
                                        field: 'pid',
                                        title: '编号',
                                    }, {
                                        field: 'regtime',
                                        title: '录入时间',
                                    }, {
                                        field: 'category',
                                        title: '类别'
                                    }, {
                                        field: 'status',
                                        title: '状态'
                                    }, {
                                        field: 'index',
                                        title: '序号'
                                    }, {
                                        field: 'workstage',
                                        title: '工序'
                                    }, {
                                        field: 'userid',
                                        title: '员工'
                                    }, {
                                        field: 'recordtime',
                                        title: '操作时间'
                                    }, {
                                        field: 'kind',
                                        title: '操作类别'
                                    }]
                                })
                            }
                            //得到查询的参数
                        oTableInit.queryParams = function(params) {
                            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                                limit: params.limit, //页面大小
                                offset: params.offset, //页码
                                pid: $("#wd").val(),
                                search: params.search
                            }
                            return temp
                        }
                        return oTableInit
                    }
                </script>

                <script>
                    (function($) {
                        $.getUrlParam = function(name) {
                            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                            var r = window.location.search.substr(1).match(reg);
                            if (r != null) return decodeURIComponent(r[2]);
                            return null;
                        }
                    })(jQuery);
                </script>
</body>

</html>