<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%- title %>
    </title>
    <style>
        #table thead {
            background-color: rgba(60, 48, 48, 0.5)
        }
    </style>
</head>

<body>
    <%- include("../header.ejs") %>
        <%- include("../static/bootstrap-table.ejs") %>
            <%- include("../static/bootstrap3-typeahead.ejs") %>
                <div class="container">
                    <div id="toolbar" class="btn-group">
                        <div class="row">
                            <div class="col-xs-8 col-sm-6">
                                <input type="text" class="form-control" autocomplete="off" id="wd" aria-label="请输入产品编号" placeholder="产品编号">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <button type="button" class="btn btn-default" id="search">查询</button>
                            </div>
                            <!-- <div class="col-xs-6 col-sm-4">
                                <select class="form-control">
                                    <option value="all">导出所有</option>
                                    <option value="basic">导出当前页</option>
                                 </select>
                            </div> -->
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <%- include("../footer.ejs") %>

                    <script>
                        var rcolor = {
                            0: "#339933",
                            1: "#3399CC",
                            2: "#FF0033"
                        }
                        $(function() {
                            var ID = $.getUrlParam('pid');
                            $("#table").bootstrapTable(
                                TableInit.table
                            );
                            if (ID) {
                                $("#wd").val(ID)
                                $("#search").click()
                            }
                            $("#wd").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    // $("#search").click()
                                }
                            })
                            $("#wd").typeahead({
                                delay: 500,
                                fitToElement: true,
                                source: function(query, process) {
                                    return $.ajax({
                                        url: '/order/pidlist',
                                        type: 'post',
                                        data: {
                                            name: query
                                        },
                                        success: function(result) {
                                            for (var i = 0; i < result.length; i++) {
                                                result[i] = JSON.stringify(result[i])
                                            }
                                            return process(result);
                                        }

                                    })
                                },
                                highlighter: function(obj) {
                                    var item = JSON.parse(obj);
                                    var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&');
                                    return item.pid.replace(new RegExp('(' + query + ')', 'ig'), function($1, match) {
                                        return '<strong>' + match + '</strong>'
                                    });
                                },
                                updater: function(obj) {
                                    var item = JSON.parse(obj);
                                    return item.pid;
                                },
                                afterSelect: function() {
                                    $("#search").click()
                                }
                            })

                            /**
                             * 下拉框选择事件  动态控制导出类型
                             */
                            // $('#toolbar').find('select').change(function() {
                            //     $("#table").bootstrapTable('refreshOptions', {
                            //         exportDataType: $(this).val()
                            //     });
                            // });

                        })

                        $("#search").click(function() {
                            var val = $("#wd").val()
                            if (val == "") return
                            $("#table").bootstrapTable('refreshOptions', {
                                url: '/order/pid_data?pid=' + val,
                                method: 'get',
                                exportOptions: {
                                    fileName: val
                                }
                            });
                        })

                        var TableInit = {
                            table: {
                                toolbar: '#toolbar', //工具按钮用哪个容器
                                singleSelect: true, //多选
                                striped: true, //是否显示行间隔色
                                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                                showPaginationSwitch: true,
                                pagination: false, //是否显示分页（*）
                                sortable: true, //是否启用排序
                                sortName: 'index',
                                sortOrder: 'asc', //排序方式
                                queryParams: function(params) {
                                    var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                                        limit: params.limit, //页面大小
                                        offset: params.offset, //页码
                                        sortOrder: params.order,
                                        sortName: params.sort, //排序字段(仅支持序号index)
                                        search: params.search
                                    }
                                    return temp
                                }, //传递参数（*）
                                sidePagination: 'server', //分页方式：client客户端分页，server服务端分页（*）
                                pageNumber: 1, //初始化加载第一页，默认第一页
                                pageSize: 10, //每页的记录行数（*）
                                pageList: [15, 20, 50, 100, 200, 'ALL'], //可供选择的每页的行数（*）
                                search: true, //是否显示表格搜索
                                // strictSearch: false,
                                showColumns: true, //是否显示所有的列
                                showRefresh: true, //是否显示刷新按钮
                                minimumCountColumns: 2, //最少允许的列数
                                clickToSelect: true, //是否启用点击选中行
                                // height: 800, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                                // uniqueId: 'ID', //每一行的唯一标识，一般为主键列
                                showToggle: true, //是否显示详细视图和列表视图的切换按钮
                                cardView: false, //是否显示详细视图
                                // showFooter: true,//页脚
                                detailView: false, //是否显示父子表
                                showExport: true, //是否显示导出
                                exportDataType: 'all', //basic'//当前页, 'all'//所有, 'selected'.//选择项
                                // 'json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'.
                                exportTypes: ['txt', 'doc', 'excel'],
                                exportOptions: {
                                    fileName: '文件名',
                                },
                                rowStyle: function(row, index) {
                                    // let value = row.status
                                    return {}
                                    // return {
                                    //     css: {
                                    //         "background-color": rcolor[value] || "none"
                                    //     }
                                    // }
                                },
                                columns: [{
                                    field: 'pid',
                                    title: '编号',
                                }, {
                                    field: 'fromtime',
                                    title: '来单时间',
                                }, {
                                    field: 'entertime',
                                    title: '下单时间',
                                }, {
                                    field: 'customer',
                                    title: '客户',
                                }, {
                                    field: 'endcustomer',
                                    title: '终端客户',
                                }, {
                                    field: 'category',
                                    title: '产品种类'
                                }, {
                                    field: 'status',
                                    title: '状态',
                                    width: '80px',
                                    formatter: function(value, row, index) {
                                        if (value == 0) {
                                            return "进行中"
                                        } else if (value == 1) {
                                            return "完成"
                                        } else if (value == 2) {
                                            return "已取消"
                                        }
                                    },
                                    cellStyle: function cellStyle(value, row, index) {
                                        // let value = row.status
                                        return {
                                            css: {
                                                "background-color": rcolor[value] || "none"
                                            }
                                        };
                                    }
                                }, {
                                    field: 'index',
                                    title: '序号',
                                    width: '80px',
                                }, {
                                    field: 'workstage',
                                    title: '工序',
                                    width: '100px',
                                    formatter: function(value, row, index) {
                                        var val = ""
                                        if (value) {
                                            val = value
                                        }
                                        return val
                                    }
                                }, {
                                    field: 'userid',
                                    title: '员工',
                                    width: '120px',
                                    formatter: function(value, row, index) {
                                        var val = ""
                                        if (value) {
                                            val = value
                                        }
                                        return val
                                    }
                                }, {
                                    field: 'recordtime',
                                    title: '操作时间',
                                    width: '180px',
                                    formatter: function(value, row, index) {
                                        var val = ""
                                        if (value) {
                                            val = value
                                        }
                                        return val
                                    }
                                }, {
                                    field: 'kind',
                                    title: '操作类别',
                                    width: '100px',
                                    formatter: function indexFormatter(value, row, index) { //在表格前加上序号
                                        if (value == 0) {
                                            return '<span style="color:#000000">默认</span>';
                                        } else if (value == 1) {
                                            return '<span style="color:#00ff00">临时</span>';
                                        } else {
                                            return ""
                                        }
                                    }
                                }],
                                onDblClickRow: function(item, $element) { //双击行
                                    console.log(item);
                                    if (item.userid) {
                                        window.open("/user/search?userid=" + item.userid);
                                    }
                                    return false
                                },
                            }
                        }

                        $(function() {
                            sinit()

                            function sinit() {
                                if ($("#table").width() < 800) {
                                    $("#table").bootstrapTable("hideColumn", 'regtime')
                                    $("#table").bootstrapTable("hideColumn", 'fromtime')
                                    $("#table").bootstrapTable("hideColumn", 'entertime')
                                    $("#table").bootstrapTable("hideColumn", 'index')
                                    $("#table").bootstrapTable("hideColumn", 'customer')
                                    $("#table").bootstrapTable("hideColumn", 'endcustomer')

                                } else {
                                    $("#table").bootstrapTable("showColumn", 'regtime')
                                    $("#table").bootstrapTable("showColumn", 'fromtime')
                                    $("#table").bootstrapTable("showColumn", 'entertime')
                                    $("#table").bootstrapTable("showColumn", 'index')
                                    $("#table").bootstrapTable("showColumn", 'customer')
                                    $("#table").bootstrapTable("showColumn", 'endcustomer')
                                }
                            }
                            $(window).resize(function() {
                                sinit()
                            })
                        })
                    </script>

                    <script>
                        /***
                         * 获取url所带参数
                         * */
                        (function($) {
                            $.getUrlParam = function(name) {
                                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                                var r = window.location.search.substr(1).match(reg);
                                if (r != null) return decodeURIComponent(r[2]);
                                return null;
                            }
                        })(jQuery);
                    </script>
</body>

</html>