<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=title%>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0
        }
        
        .mypanel {
            width: 100%;
            margin: 0px auto;
        }
        
        #btn {
            text-align: center;
        }
        
        .mypanel .title {
            text-align: center;
        }
        
        .font-user {
            color: red
        }
        
        .status {
            /* color:blue */
            font-size: 10pt
        }
    </style>
</head>

<body>
    <%- include("../header.ejs") %>
        <div class="container">
            <div class="mypanel">
                <div class="title">
                    <h1 style="margin-top: 5px;">
                        <%=title%>
                            </br>
                            <span class='status'></span>
                    </h1>
                    <h5><span class="font-user">当前操作者：<%- data.name %></span></h5>

                </div>
                <div class="content" id="content">
                    <% if(!data) { %>
                        <%- content  -%>
                            <% } else { %>
                                <div class="panel panel-default" id="div-work"></div>
                                <div class="panel panel-default">
                                    <div class="panel-body ">
                                        <div id="proitem">

                                        </div>
                                    </div>
                                </div>
                                <div id="btn">
                                </div>
                                <% } %>
                </div>
            </div>
        </div>
        <script>
            var option = {}
            $(function() {
                <%if(data){%>
                var data = JSON.parse('<%- JSON.stringify(data)%>');
                var config = JSON.parse('<%- JSON.stringify(config)%>');
                $('.title .status').html(`<u>${config.orserstutas[data.status]}</u> ${data.status} `)
                if (data.status == 1) {
                    $('#proitem').html(`
                     <div style="text-align:center" > 注意当前产品状态为<span  style="color:red">${config.orserstutas[data.status]}</span>，不能提交</div>
                   `)
                } else {
                    if (data.workitem[data.next]) {
                        $('#proitem').html(`<div style="text-align:center" >您将对 ${data.pid} 提交 【<b>${data.next}</b>】工序,是否提交  </div>`)
                        $('#btn').html(`<button type="button" class="btn btn-primary btn-lg" id="sub-btn">提交</button>`)
                    } else {
                        $('#proitem').html(`<div style="text-align:center" >很抱歉 您没有提交对 ${data.pid} 的 【${data.next} 】工序的权限。  </div>`)
                        $('#btn').html(`<button type="button" class="btn btn-primary btn-lg" id="sub-btn" disabled="disabled" >提交</button>`)
                    }
                    $('#btn').append(`
                         <button type="button" class="btn btn-link btn-xs" id="temp-btn"  style='margin-left: 20px;' >临时</button>
                    `)
                }
                $('#sub-btn').click(function() {
                    option = {
                        kind: '0',
                        no: data.pid,
                        work: data.next,
                        id: data.nextindex
                    }
                    submit(option)
                })
                $('#temp-btn').click(function() {
                    var rediodata = {}
                    rediodata[data.nextindex] = data.next
                    if (data.index != 0 && !data.timeout.status) {
                        rediodata[data.id] = data.workstage
                    }
                    let message = ""
                    if (data.timeout.status) {
                        message = `据上一工序已超过允许范围:超时【${data.timeout.timer}】`
                    }
                    swal({
                        title: '临时操作',
                        input: 'radio',
                        text: message,
                        type: 'warning',
                        inputValue: '',
                        inputOptions: rediodata,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        confirmButtonText: '提交',
                        inputValidator: function(result) {
                            return new Promise(function(resolve, reject) {
                                if (result) {
                                    resolve();
                                } else {
                                    reject('请选中工序!');
                                }
                            });
                        }
                    }).then(function(result) {
                        if (data.workitem[rediodata[result]] && data.next == rediodata[result]) {
                            option = {
                                kind: '0',
                                no: data.pid,
                                work: data.next,
                                id: data.nextindex
                            }
                            submit(option)
                        } else {
                            option = {
                                kind: '1',
                                no: data.pid,
                                work: rediodata[result],
                                id: result
                            }
                            swal({
                                title: '是否确认提交如下信息?',
                                // html:true,
                                html: `<table style='margin: auto;'><tr><td style='text-align: right;'>产品编号：</td><td>${option.no}</td></tr><tr><td style='text-align: right;'> 工序：</td><td>${option.work}</td> </tr></table>`,
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                            }).then(function(isConfirm) {
                                if (isConfirm === true) {
                                    submit(option)
                                } else if (isConfirm === false) {
                                    swal.close()
                                } else {
                                    swal.close()
                                }
                            });

                        }
                    })
                })
                <%}%>

            })

            /**
             * 提交记录
             * option{
             * id   产品工序id nextindex
             * no   产品编号details【0】.orderinfo
             * work  下一道工序名 data.next
             * kind  //修改类型
             * }
             **/
            function submit(option) {
                // alert(JSON.stringify(option) )
                $.ajax({
                    type: 'post',
                    url: '/scanqr/worksubmit',
                    data: option,
                    error: function(res) {
                        swal('失败', res.message, 'error')
                    },
                    success: function(res) {
                        if (res.code == 'ok') {
                            swal('成功', '恭喜修改成功', 'success')
                            window.location.href = 'http://' + window.location.host + '/order/search?pid=' + encodeURIComponent(option.no)
                        } else {
                            swal('失败', res.message, 'error')
                        }
                    }
                })
            }
        </script>
</body>

</html>