{
    "button": [{
        "type": "click",
        "name": "今日告警",
        "key": "_alarmlog"
    }, {
        "name": "报警日志",
        "sub_button": [{
            "name": "今日日志",
            "type": "click",
            "key": "alarmlog"
        }, {
            "name": "昨日top10",
            "type": "click",
            "key": "alarmlog10"
        }]
    }, {
        "name": "攻略",
        "sub_button": [{
            "type": "click",
            "name": "指令列表",
            "key": "dictatelist"
        }, {
            "type": "click",
            "name": "关于",
            "key": "about"
        }]
    }]
}